:root {
    --button-color: rgb(177, 254, 203);
    --button-hover: rgb(164, 239, 189);
}

@font-face {
    font-family: earwig;
    src: url("fonts/earwig_factory/earwig factory rg.otf");
}

body {
    text-align: center;   
    font-family: 'Courier New', Courier, monospace;
    background-image: url("newpaper_flora.jpg");
    background-repeat: repeat;
}

#title {
    font-family: earwig;
    font-size: 75px;
    margin-block: 5px;
}

h2 {
    font-family: earwig;
    font-size: 50px;
    margin-block: 5px;
    font-weight: bold;
}

#navbar {
    display: block;
    margin: auto auto;
    width: 90%;
    height: 7%;
    text-align: center;
}

a {
    text-decoration: none !important;
}

.navbutton {
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    display: inline;
    padding-inline: 10px;
    padding-block: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-color);
    margin: 10px 10px;
}

.navbutton:hover {
    background-color: var(--button-hover);
    cursor: pointer;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);;
}

#mission {
    margin-inline: auto;
    width: 50vw;
}

.inner-text {
    font-weight:bold;
}
