#puzzle-wrapper {
    margin: auto auto;
    width: 90%;
}

body {
    background-color: #d7c3cd;
}

.secret{
    color: #d7c3cd;
    padding: 25px;
    border: none;
    background-color: #d7c3cd;
    margin: 10px 10px;
    position: absolute;
}

.secret:hover {
    cursor: pointer;
}

.tile:hover {
    cursor: pointer;
}
